<% provide(:title, "Listing microposts") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td>
          <div class="btn-group">
            <%= link_to micropost, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Show") %>
            <% end %>
            <%= link_to edit_micropost_path(micropost), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Edit") %>
            <% end %>
            <%= link_to micropost, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this micropost?" } do %>
              <%= fa_icon("trash-o", text: "Destroy") %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to new_micropost_path, class: "btn btn-default" do %>
  <%= fa_icon("plus", text: "New Micropost") %>
<% end %>
