<% provide(:title) do %>
  Micropost #<%= @micropost.id %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Content</th>
      <td><%= @micropost.content %></td>
    </tr>
    <tr>
      <th class="col-sm-2">User</th>
      <td><%= @micropost.user_id %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Edit", edit_micropost_path(@micropost), class: "btn btn-primary" %>
  <%= link_to "Back", microposts_path, class: "btn btn-link" %>
</p>
