<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<%= render("shared/navbar") %>

<div class="container">

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= render("shared/flash") %>
  <%= render("shared/page_header") %>

  <%= yield %>

  <%= render("shared/footer") %>

  <%= debug(params) if Rails.env.development? %>

</div>

<% parent_layout "base" %>
