<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<html>
  <head>

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag("application",
                            media: "all",
                            "data-turbolinks-track" => "reload") %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_include_async_tag("application",
                                     "data-turbolinks-track" => "reload") %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name="apple-mobile-web-app-title" content="Rails Template">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>
      <%= strip_tags(yield(:title)) + " – " if content_for?(:title) %>
      Rails Template
    </title>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
